<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Menu.Properties.Settings.menuConnectionString" connectionString="server=127.0.0.1;user id=root;password=root;persistsecurityinfo=True;database=menu"
            providerName="MySql.Data.MySqlClient" />
        <add name="Menu.Properties.Settings.wine_mapConnectionString"
            connectionString="server=127.0.01;user id=root;password=root;persistsecurityinfo=True;database=wine_map"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>